html { font-size:13px;}
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0;}
body{min-width:1200px;font:14px "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;background:#fff;-webkit-text-size-adjust:100%;color:#222;}
* { margin:0; padding:0;  list-style:none; }
i, em, b { font-style:normal; font-weight:normal; }
:-moz-placeholder {color:#ccc;}
::-moz-placeholder {color:#ccc;}
::-webkit-textarea-placeholder {color:#ccc;}
:-ms-textarea-placeholder {color:#ccc;}
::-webkit-input-placeholder{ color:#ccc;}
img{width:100%;vertical-align:top;}
input,textarea,select{-webkit-appearance:none;border:0;border-radius:0;background:transparent;}
a{color:#459ae9;text-decoration:none;}
a:hover{color:#459ae9;text-decoration:underline;}
i,em{font-style:normal;}
strong{font-weight:normal;}
li{list-style:none;}
img{border:0;vertical-align:middle;}
table{border-collapse:collapse;border-spacing:0;}
.hide{display:none;}
.red{color:#ff0000;}

/*按钮样式及点击时的效果*/
.btn{position:relative;display:block;text-align:center;1border:1px solid red;cursor:pointer;}
.btn.touched{}
.btn_blue{display:inline-block;padding:0 20px;height:40px;line-height:40px;background:#2284D8;letter-spacing:2px;color:#ffffff;}

/*头部*/
.wrap{width:1025px;margin:0 auto;overflow:hidden;zoom:1;}
.container{margin:25px auto;}
.header{position:relative; z-index:9;background-color:#fff;border-top:3px solid #44b549;border-bottom:1px solid #d9dadc;}
.header .wrap{height:56px;position:relative;overflow:visible; z-index:10}
.header .logo{float:left;width:355px;}
.header .logo a{display:block;height:40px;margin-top:10px;text-indent:-999px;background:url(../image/logo.png) left top no-repeat}
.header .link{float:right; line-height:56px;color:#ccc;}
.header .link .vs{margin:0 10px;}
.header .link a{color:#222;}
.header .link a:hover{color:#459ae9}


/*盒子*/
.box{display:-webkit-box;display:-webkit-flex;display:flex;}
.box .box_son_equal{-webkit-box-flex:1;-webkit-flex:1;flex:1;display:block;}

/*弹窗*/
.pop-wraper{}
.pop-mask{position:fixed;width:100%;height:100%;left:0;top:0;background: rgba(0, 0, 0, 0.6);z-index:997;}
.pop-outer{position: fixed; z-index: 998;top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%);}
.pop-inner{background:#FFFFFF;text-align:center;display:inline-block;position:relative;}
.pop-inner .pop-content{border:1px solid #D3D3D3;padding:50px 25px 30px 25px;}
.pop-inner .pop-content h1{font-size:24px;margin-bottom:10px;color:#666666;font-weight:normal;}
.pop-inner .pop-content .ico{margin-right:8px;}
.pop-inner .pop-content .btn_blue{font-size:18px;padding:0 40px;margin-top:25px;}
.pop-inner .btn_cancel{width:50px;height:20px;border:solid #D5D5D5;border-width:0 0 1px 1px;position:absolute;right:0;top:0;}
.pop-inner .btn_cancel .ico_cancel{position:absolute;top:50%;left:50%;margin-top:-4px;margin-left:-5px;}

/*页面底部*/
.foot {	padding: 24px 0;color: #f1f1f1;	text-align: center;	background-color: #b8b9b9;}

/*图标+文字标题*/
.ico_title{text-align:left;font-size:24px;color:#333333;border-bottom:1px solid #FFFFFF;position:relative;padding-bottom:5px;padding-left:10px;}
.ico_title:after{content:"";width:100%;border-top:1px solid #E3E3E3;position:absolute;left:0;bottom:0;}
.ico_title i{margin-right:10px;}

/*3-1注册页面 3-2注册页面*/
#pay_platform .content{width:1025px; margin:0 auto; padding:28px 0 50px; overflow-x:hidden;}
#pay_platform .menu{float:left; width:210px; text-align:left; line-height:25px; border:1px solid #CCC;}
#pay_platform .menu .item h5{border-bottom:1px solid #CCC; background-color:#F7F7F7; line-height:30px;}
#pay_platform .menu .item h5,#pay_platform .menu .item li{padding:5px;}
#pay_platform .menu .item li{cursor:pointer;}
#pay_platform .menu .item li.cur{background-color:rgba(230,230,230,0.9);}
#pay_platform .auto_center{margin-left:215px;}

.form_wrap{text-align:left;padding:20px 0 60px 44px;}
.form_wrap .form_name{font-size:18px;color:#343434;margin-bottom:30px;}
.form_wrap .form_list{font-size:14px;margin-bottom:10px;}
.form_wrap .col-red{color:#C70102 !important;}
.form_wrap .form_list>span{1border:1px solid red;display:inline-block;vertical-align:middle;}
.form_wrap .form_list .list_title{width:120px;text-align:right;}
.form_wrap .form_list .list_val{margin-left:25px;margin-right:14px;}
.form_wrap .form_list .list_val input{width:278px;height:38px;border:1px solid #D3D3D3;background:#ffffff;text-indent:14px;}
.form_wrap .form_list .list_val.btn{width:278px;padding:0;font-size:16px;}
.form_wrap .form_list i{color:#C80100;}
.form_wrap .form_list em{margin-left:5px;margin-right:5px;color:#999999;}
.form_wrap .form_list .form_ico{margin-right:5px;}
.form_wrap .addr_sele{text-align:left;margin-left:21px !important;}
.form_wrap .addr_sele>span{position:relative;margin-right:10px;display:inline-block;vertical-align:middle;}
.form_wrap .addr_sele>span .ico_tri{1border:1px solid red;1border-top:1px solid #D3D3D3;width:24px;height:38px;position:absolute;right:1px;top:1px;1margin-top:-9px;background:#ffffff;}
.form_wrap .addr_sele>span .ico_tri:after{content:"";height: 8px;width: 12px;position:absolute;top:50%;left:0;margin-top:-6px;overflow: hidden;background:url(../image/sprite.png) -32px -93px no-repeat;}
.form_wrap .addr_sele select{width:140px;border:1px solid #D3D3D3;padding:10px 0;1height:38px;background:#ffffff;padding-left:14px;vertical-align:middle;}
.form_wrap .form_list textarea{border:1px solid #D3D3D3;background:#ffffff;resize: none;width:590px;height:130px;padding:5px;}
.form_wrap .form_list textarea.t_w_800{width:800px;height:190px;}

.mask{
    overflow:hidden;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:99999;
    background:rgba(230,230,230,0.4) url(../image/loading.gif) center center no-repeat;
}
.msg_default_box{
    width:258px;
    margin:0 auto;
    padding:12px 0;
    border:1px solid #2b4d69;
    background-color:#445f85;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    letter-spacing:6px;
    text-align:center;
    color:#FFF;
    margin-right:15px;
}
.msg_default_box p{
    display:inline-block;
    vertical-align:middle;
    letter-spacing:normal;
    text-align:left;
    font-size:16px;
    color:#FFF;
}

.icon60_qr{
    width:60px;
    height:60px;
    display:inline-block;
    vertical-align:middle;
    background:transparent url(../image/icon_pay.png) no-repeat 0 0;
    margin-right:20px;
}

.msg_default_box .icon60_qr{
    background-position:0 -60px;
}
/*扫描成功*/
.qr_succ{
    border:1px solid #259483;
    background-color:#4ca698;
}
/*购买成功*/
.pay_succ{
    border:1px solid #148F64;
    background-color:#20B481;
}

/*购买失败*/
.pay_error{
    border:1px solid #D13A03;
    background-color:#f15a22;
}

.qr_succ .icon60_qr,.pay_succ .icon60_qr{
    background-position:0 0;
}

.pay_error .icon60_qr{
    background-position:0 -122px;
}
.refresh_time{
    margin-top:20px;
}


