@CHARSET "UTF-8";

.div_title{width:100%; height:50px; background:#DDDDDD;}
.div_title .title{text-align:center; margin:auto; padding:10px; font-size:24px;}
.article_content{padding:10px;" class="article_content}
.article_date{width:200px; margin:auto; text-align:center; font-size:14px; padding-bottom:4px;}