@CHARSET "UTF-8";
.tags_box{      background: -webkit-gradient(linear, 14% 96%, 64% 59%, from(#D5ABF3), to(#FFAABF));padding:10px}
.tags_box .tag_item{
  -webkit-box-sizing: border-box;
  float: left;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.23);
  height: 40px;
  line-height: 40px;
  border: 1px solid #fff;
  border-radius: 10px;
  margin: 5px 5px;
	  padding: 0 10px;
    background-color: rgba(255, 166, 72, 0);
  color: #fff;
}
.tags_box .tag_item.curr{
  background-color: #fff;
  color: #414141;
}

/**距离显示**/
.distance_box{
	color: #8C8C8C;
	margin-left:15px;
}
.point_icon{
	background: url(../images/point_icon.png) no-repeat center center;
	width:10px;
	height:14px;
}