.c-hd{
	background:@main_color;
}
.cut_city a, .cut_city a:hover, .cut_city a:visited{
	color:#fff;

}

.logo_img{
	color:#fff;
}
.choose-hd{
	position: fixed;
	top: 2rem;
	background:#fff;
	width:100%;
	z-index: 2;
	height:1.6rem;
	padding:0 .4rem;
}
.show-btn{
	height:18px;
	width:40px;
	border-radius:9px;
	background:#fff;
	border:1px solid #e8e8e8;
	position: relative;
}
.show-btn.active{
	background:@main_color;
	border-color:@main_color;
}
.show-btn .show-button{
	width:20px;
	height:20px;
	border-radius:10px;
	background:#fff;
	box-shadow:0 0 2px rgba(0, 0, 0, .4);
	position: absolute;
	top: -2px;
	left: -2px;
}
.show-btn.active .show-button{
	left: 22px;
}
.main-content{
	padding-top: 1.6rem;
	padding-bottom: 3.6rem;
}
.choose-tip{
	text-align: center;
	line-height: 2rem;
}
.choose-list{
	padding:0 .2rem;
}
.choose-list li{
	width:25%;
	float: left;
	padding:.2rem;
}
.choose-list li .code-box{
	background:#fff;
	border-radius:3px;
	text-align: center;
	line-height: 1.2rem;
	border:1px solid transparent;
	position: relative;
}
.choose-list li .code-box.active{
	border:1px solid @main_color;
}
.choose-list .disable.active{
	display:none;
}
.choose-list .disable .code-box{
	background:#eee;
	border:1px solid #eee;
}
.select-ico{
	width:16px;
	height: 16px;
	background:url(../images/pk/selected.png) no-repeat;
	position: absolute;
	bottom: 0;
	right: 0;
	display:none;
}
.choose-list li .code-box.active .select-ico{
	display:block;
}
.explain{
	position: fixed;
	width:100%;
	bottom: 2rem;
	background:#fff;
	-webkit-box-pack: center;
	-webkit-justify-content:center;
	justify-content:center;
	height:1.6rem;
	z-index: 1;
}
.explain li{
	margin: 0 .5rem;
}
.explain li .color-box{
	width:.5rem;
	height:.5rem;
	border:1px solid #ddd;
	margin-right: .4rem;
	border-radius:2px;
}
.explain li .can-select{
	background:#fff;
}
.explain li .cant-select{
	background:#eee;
	border-color:#eee;
}
.explain li .over-select{
	background:@main_color;
	border-color:@main_color;
}
.buy-bar{
	position: fixed;
	height:2rem;
	bottom: 0;
	background:#fff;
	width:100%;
	z-index:2;
}
.buy-bar p{
	margin: 0 .4rem;
}
.buy-bar .buy-now{
	width:4rem;
	line-height: 2rem;
	color:#fff;
	display: block;
	background:@main_color;
	text-align: center;
	font-size:.56rem;
}