@charset "UTF-8";

/**
 * @authors petrus.law (you@example.org)
 * @date    2015-07-20 15:06:33
 * @version 基础样式
 */

  
.loading-warp{ display: table; width: 100%; margin-top: -4.3rem; }
.loading-warp .box{ width: 100%;  display: block; text-align: center; vertical-align: middle; height:2rem; }
.loading-warp .box img{ display: block; width: 1.5rem; height: 1.5rem; margin: 0 auto; margin-top:1rem; }
.loading-warp .box .text{ display: block; text-align: center; font-size: 0.5rem; line-height: 0.5rem; opacity: 0.7; margin-top: 1.37rem; }

.nav{ background: #2285DE; padding: 0.6rem; line-height: 1.4rem; font-size: 1.4rem; font-weight: bold; color: #FFF; padding-top: 0.6rem; border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
.list{ }
.list li{ color: #63A0D7; padding: 0.8rem 1rem; background: #FFF; list-style: none; border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.linkAdv{ width: 100%; position: fixed; bottom: 0; text-align: center; font-size: 1.2rem; }
.linkAdv a{ display: inline-block; margin: 0.6rem 1rem; }