.sgin{
	width:100%;
}
.qidao{
	position: fixed;top:0;left: 0;
	display: none;
	z-index: 20;
	/*     	background-color:rgba(77,77,77,.7); */
	border-radius: 15px;
	width:100%;
	height:702px;
	/*background: url(../images/20171110161808.png);*/
	background: linear-gradient(to right, #fa5203 0%,#C91B1D 50%,#fa5203 100%);
	opacity:0.8;
}
.sgin-1{
	display: none;
	position: fixed;
	top:11%;
	left:5%;
	z-index: 333;
	width:90%;
	height:auto;
	border:3px solid #50EDF7;
	border-radius: 5px;
	margin:10% auto;
	padding:10px;
}
.yuan p{
	width:20px;
	height:20px;
	background: #50EDF7;
	border-radius:20px;
}
.calendar_month_span{
	width:100%;
	text-align: center;
	font-family: Microsoft YaHei;
	font-size:0.9rem;
	margin-bottom:5%;
	margin-top:10%;
	color:#FFF;
}
#calendar_month_span1{

	margin-right:3%;
	font-size: 0.7rem;
}
.sign{
	width:100%;
}
.sign table{
	width:100%;
}
.sign table tr th,td{
	line-height:50px;
	font-family: Microsoft YaHei;
	font-size:0.8rem;
	text-align: center;
	color:#FFF;
}
.sign table tr th{
	background: #2A6B94;	
	margin-bottom:5%;
}