.logo_img{
	color:white;
}
.check-form{
	text-align: center;
	height: 5.6rem;
	background-color: #d93a55;
	border-radius:0 0 4.4rem 4.4rem;
}
.check-form .txt-box{
	text-align: center;
	color:#fff;
	line-height:1.6rem; 
}
.check-form .input-box .input-item{
	width: 50%;
	padding: 0 .4rem;
	height: 1.8rem;
	font-size: 1.04rem;
	text-align:center;
	border-radius: .8rem;
	background: #fff;
	letter-spacing: 2px;
	font-weight: bold;
	outline: none;
}
.tip-txt{
	margin-top:.4rem;
	text-align:center;
	color:#fff;
	display:none;
}
/*���ֱ���*/
.e-title{
	text-align: center;
	color: #999;
	width: 60%;
	margin: .8rem auto;
	padding: .4rem;
	background-color: #fff;
	border-radius: .4rem;
	position: relative;
	font-size: .56rem;
}
.e-title::after{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	content: '';
	width: 200%;
	height: 200%;
	position: absolute;
	top: 0;
	left: 0;
	border: 1px solid #df5667;
	-webkit-transform: scale(.5);
	        transform: scale(.5);
	-webkit-transform-origin:0 0;
	        transform-origin:0 0;
	border-radius: .8rem;
}
.e-title span{
	color: #df5667
}
.evc-list{
	padding: 0 .4rem;
}
.evc-list li{
	margin: .6rem 0;
	background: #fff;
	border-radius: .3rem;
}
.evc-list li .evc-info{
	border-radius: .3rem;
	height: 4.8rem;
	display:-webkit-box;
	display:-webkit-flex;
	display: flex;
	-webkit-align-items:center;
	align-items:center;
	-webkit-box-align: center;
}
.avilable li .evc-info{
	border-top: .3rem solid #df5667;
}
.unavilable li .evc-info{
	border-top: .3rem solid #ddd;
}
.evc-list li p{
	color: #999;
}
.evc-list li .evc-info .evc-count{
	text-align: center;
		-webkit-flex:1;
		flex:1;
	/* 	for  uc */
		-webkit-box-flex:1;
		font-size: .56rem;
}
.avilable li .evc-info .evc-count{
	color: #df5667;
}
.unavilable li .evc-info .evc-count{
	color: #ddd;
}
.evc-list li .evc-info .evc-count span{
	font-size: 1.2rem;
}
.evc-list li .evc-info .evc-count-info{

		-webkit-flex:4;
		flex:4;
	/* 	for  uc */
		-webkit-box-flex:4;

}
.evc-list li .evc-info .evc-count-info h2{
	color: #555;
	font-size: .6rem
}
.evc-list li .evc-button input{
	display: block;
	height: 1.4rem;
	background: #df5667;
	color: #fff;
	width: 100%;
	text-align: center;
	border-radius:0 0 .3rem .3rem;
	font-size:.8rem;
}