.address-input{
	margin: .4rem 0;
}
.address-input li{
	background: #fff;
	padding: 0 .4rem;
	font-size: .6rem;
	height: 1.6rem;
	color: #333;
	display:-webkit-box;
	display:-webkit-flex;
	display: flex;
	-webkit-align-items:center;
	align-items:center;
	-webkit-box-align: center;
}
.address-input>li span{
	line-height: 1.6rem;
	display:block;
	min-width: 1.8rem;
	}
	.address-input li span em{
		display: inline-block;
	width: 1em;
	}
.address-input li input{
	display:block;
	height: 1.6rem;
	line-height: 1rem;
	color: #666;
	outline: none;
	padding: .3rem .5rem;
		-webkit-flex:1;
		flex:1;
	/* 	for  uc */
		-webkit-box-flex:1;      
}
.address-input li .btn_phone{
		border: none;
		background: none;
		display: block;
		width: 3rem;
		height: 1.1rem;
		text-align: center;
		font-size: .4rem;
		color: #df5667;
		z-index: 2;
		position: relative;
		outline: none;
	}
.address-input li .btn_phone::after{
		content: '';
		width: 6rem;
		height: 2.2rem;
		position: absolute;
		top: 0;
		left: 0;
		-webkit-transform: scale(0.5);
		        transform: scale(0.5);
		-webkit-transform-origin:0 0;
		        transform-origin:0 0;
		pointer-events: none;
		border: 1px solid #df5667;
		border-radius: 0.3rem;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		        z-index: 3;
}
.subbox{
	display:-webkit-box;
	display:-webkit-flex;
	display: flex;
	-webkit-align-items:center;
	align-items:center;/*横向布局水平居中对齐*/
	-webkit-box-align: center;
}
.subbox .sub{
	-webkit-appearance:none;
	text-align: center;
		-webkit-flex:1;
		flex:1;
	/* 	for  uc */
		-webkit-box-flex:1;      
	display: block;
	background: #d01e41;
	color: #fff;
	margin:0 .2rem;
	height: 1.2rem;
	border-radius: .3rem;
	margin-top: .4rem;
	font-size: .6rem;
}
.address-input .goahead{
	margin-top: 1rem;
}
.address-input .deal{
	margin-top: 0;
}
.address-input h1{
	text-align: center;
	line-height: 1.68rem;
	margin-top: 1rem;
	font-size: .64rem;
}
.address-input li p{
	color: #777;
}
.address-input li .flex-right{
		-webkit-flex:1;
		flex:1;
	/* 	for  uc */
		-webkit-box-flex:1;      
	text-align: right;
}
.address-input label{
	width: 100%;
	margin-left: .5rem;
	padding-left:1.3rem;
	position: relative;
	display:-webkit-box;
	display:-webkit-flex;
	display: flex;
	-webkit-align-items:center;
	align-items:center;
	-webkit-box-align: center;
	height: 2rem;
}
.address-input label p{

}
.address-input label span{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	position: absolute;
	top:50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	border-radius:1rem;
	display:block;
	width: .55rem;
	height: .55rem;

}
.address-input label::after{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	border:2px solid #d8d8d8;
	border-radius: 1.1rem;
	width: 1.1rem;
	height: 1.1rem;
	-webkit-transform:scale(0.5)  translateY(-50%);
	        transform: scale(0.5) translateY(-50%);
	-webkit-transform-origin:0 0;
	        transform-origin:0 0;
}
.address-input label .checked{
	background: #51c066;
	border:.15rem solid #fff;
}
.add_card a{
	margin:0 auto;
}

