@CHARSET "UTF-8";
#getpassword_form{ padding:40px 0px 40px 300px;}

.find_type div table td{ padding:5px;}
.find_type div table td .iconfont{ font-size:25px;}
.find_type div table td h1{ font-size:14px; font-weight:bolder; display:block;}
.find_type div table td h2{ font-size:12px; font-weight:normal; display:block;}

.form_panel dl.ph_img_verify{ display:none; }
