.box_container{
	display: none;
	background: #fff;
	outline: 0;
	width: 500px;
	border: 1px solid #E6E6E6;
	font-size: 14px;
	line-height: 1.8;
	background: #fff;
	color: #333;
	overflow: hidden;
}
.box_container-close{
	position: absolute;
	right: 8px;
	top: 9px;
	font-size: 24px;
	width: 24px;
	height: 24px;
	line-height: 24px;
	color: #A1A1A1;
	text-align: center;
	cursor: pointer;
}
.box_container-close:hover{
	text-decoration: none;
}
.msgbox-hd{
	height: 45px;
	line-height: 45px;
	background: #FAFAFA;
	color: #3C3C3C;
	border-bottom: 1px solid #E6E6E6;
	padding: 0 20px;
}
.msgbox-bd{
	padding:30px;
}
.msgbox-info{
	width: 100%;
}
.msgbox-info-hd{
	line-height: 38px;
	font-weight: bold;
	color: #323232;
	border-bottom: 1px dashed #DBDBDB;
	margin-bottom: 20px;
	font-size: 16px;
}
.code-list{
	width: 100%;
	max-height: 420px;
	_height: 420px;
	overflow-y: auto;
	line-height: 36px;
}
.code-list .items{
	clear: both;
	padding-bottom: 5px;
}
.code-list .items .items-time{
	color: #aaa;
	line-height: 18px;
	margin-bottom: 6px;
}
.code-list .items .itemcode{
	white-space: nowrap;
    margin-right: 15px;
}