.process_head{
	background-position:0 -116px;
}
.message{
	width: 450px;
	margin: 0 auto;
	padding: 40px 0 60px 60px;
	position: relative;
	zoom: 1;
}
.message .suc-ico{
	position: absolute;
	left: 0;
	top: 40px;
}

.message .fail-ico{
	position: absolute;
	left: 0;
	top: 40px;
}
.message .title{
	font-size: 18px;
	font-weight: bold;
	color: #3C3C3C;
	line-height: 48px;
	margin-bottom: 10px;
	white-space: nowrap;
}
.message .tips{
	color: #808080;
	line-height: 25px;
	font-size:13px;
}
table{
	margin-bottom: 20px;
	width: 100%;
	table-layout: fixed;
	text-align: left;
	border: 1px solid #ddd;
	border-collapse: collapse;
}
table thead tr{
	background: #f2f2f2;
}
table thead th{
	font-size: 14px;
	color: #808080;
	padding: 8px 15px;
	font-weight: normal;
}
table tbody td{
	font-size:13px;
	padding: 20px;
	border-bottom: 1px solid #ddd;
	font-weight: normal;
}
table tbody td li{
	width: 80px;
	float: left;
}
.shen{
	float: right;
    margin-right: 30px;
    height:10px;
    opacity:0.5;
    margin-top:-7rem;
    -webkit-transition:opacity 1s,margin-right 2s; /* Safari and Chrome */
}
.lin{
	display: inline-block;
    width:0px;
    height:15px;
}
.lin .is_money{
	display: inline-block;
    width: 50px;
    height: 15px;
    
}
.testing{
	width:480px;
	padding: 0 10px;
    height: 25px;
    font-size: 14px;
}
.linlin{
	width: 600px;
	margin-bottom: 20px;
}
.testing-tip{
	color:#999;
	font-size: 1.2rem;
	text-align: center;
}
.copy{
	border: none;
    white-space: nowrap;
    font-size: 15px;
    display: inline-block;
    color: #fff;
    background: #39f;
    padding: 0 15px;
    text-align: center;
    height: 25px;
    line-height: 25px;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none!important;
    font-family: "Microsoft Yahei",simhei;
    outline: none;
    font-weight: normal;
}