/* 外围全局样式 */
.s-jd-toolbar{width:37px; position:fixed; right:-37px; bottom:0; height:100%; background:#37383c; z-index:2147483647; font:12px/150% arial,\5FAE\8F6F\96C5\9ED1,\5b8b\4f53;}
.s-jd-toolbar a, .s-jd-toolbar a:hover{text-decoration:none;}
.s-jd-toolbar.s-current{padding-right:230px;}
.s-jd-toolbar, .s-jd-toolbar.s-current, .s-jd-toolbar .s-mc, .s-jd-toolbar .s-current .s-mc, .s-jd-toolbar .s-list li, .s-jd-toolbar .s-list .s-detail, .s-jd-toolbar .s-list li.s-current, .s-jd-toolbar .s-mt:before, .s-jd-toolbar .s-mt:after, .s-jd-toolbar .s-mt:hover:before, .s-jd-toolbar .s-mt:hover:after, .s-jd-toolbar .s-share-area, .s-jd-toolbar .s-extra-share:hover .s-share-area, .s-jd-toolbar.s-small-screen .s-header.s-show .s-mt, .s-jd-toolbar .s-header.s-show.s-zoom .s-mt{-webkit-transition:all 0.25s ease-in 0s; -moz-transition:all 0.25s ease-in 0s; -ms-transition:all 0.25s ease-in 0s; -o-transition:all 0.25s ease-in 0s; transition: all 0.25s linear 0s; /*-webkit-transform:translate3d(0,0,0); transform:translate3d(0,0,0);*/}
.s-jd-toolbar .s-title, .s-jd-toolbar .s-header .s-mt, .s-jd-toolbar .s-icon-list .s-mt em, .s-jd-toolbar .s-extra, .s-jd-toolbar .s-icon-list .s-bg, .s-jd-toolbar .s-page span, .s-jd-toolbar .s-page a, .s-jd-toolbar .s-btn, .s-jd-toolbar .s-icon-extra .s-mt em, .s-jd-toolbar .s-icon-more, .s-jd-toolbar .s-mt:after, .s-jd-toolbar .s-mt:before, .s-jd-toolbar .s-order .s-user-info .s-level, .s-jd-toolbar .s-order .s-track-list .s-close, .s-jd-toolbar .s-mt after{background-image:url(http://img11.360buyimg.com/cms/jfs/t2791/146/1324586498/13282/f61d6e48/573c1286N043f8b0d.png);}

.s-jd-toolbar .s-icon-list .s-mc{position:absolute; right:0; top:0; z-index:1; height:100%; width:0; opacity:0; background:#323232; overflow:hidden;}
.s-jd-toolbar .s-icon-list .s-current .s-mc{width:230px; opacity:1;}
.s-jd-toolbar .s-mc .s-mt-sub{height:36px; background:none; text-indent:15px; line-height:36px; font-size:14px; font-weight:bold; color:#fff; overflow:hidden;}
.s-jd-toolbar .s-icon-extra .s-mc{position:absolute;}

.s-jd-toolbar .s-icon-list{}
.s-jd-toolbar .s-icon-list a:hover{opacity:0.7;}
.s-jd-toolbar .s-icon-list .s-list{width:210px; margin-left:10px; overflow:hidden; position:absolute; top:36px; bottom:10px; background:url(http://misc.360buyimg.com/lib/skin/e/i/loading-jd.gif) no-repeat center 80px;}
.s-jd-toolbar .s-icon-list .s-list ul{overflow:hidden; max-height:1500px; background:#323232;}

/* 页面加载完显示toolbar */
.s-jd-toolbar.s-show{right:0;}
.s-loading{background:url(http://misc.360buyimg.com/lib/skin/e/i/loading-jd.gif) no-repeat 50% 50%; position:absolute; top:0; bottom:0; left:0; right:0;}

/* 缩小时 */
.s-jd-toolbar.s-zoom{bottom:0; height:132px;}
.s-jd-toolbar.s-zoom .s-icon-list{margin-top:0;}
.s-jd-toolbar.s-zoom .s-icon-more{background-position:-37px -10px;}

/* 分页 */
.s-jd-toolbar .s-page{line-height:25px; text-align:center; padding:13px 0; zoom:1; visibility:hidden;}
.s-jd-toolbar .s-page.s-current{visibility:visible;}
.s-jd-toolbar .s-page .s-con{display:inline-block; *display:inline; zoom:1;}
.s-jd-toolbar .s-page .s-page-area{float:left; height:25px; background:#000; overflow:hidden;}
.s-jd-toolbar .s-page .s-page-area .s-scroll{width:1000px; white-space:nowrap;}
.s-jd-toolbar .s-page span, .s-jd-toolbar .s-page a{height:25px; font-size:12px; font-weight:bold; color:#fff; float:left;}
.s-jd-toolbar .s-page .s-bg-left{width:12px; background-position:0 -535px;}
.s-jd-toolbar .s-page .s-bg-right{width:12px; background-position:-108px -535px;}
.s-jd-toolbar .s-page .s-prev{width:20px; background-position:-14px -535px; cursor:pointer;}
.s-jd-toolbar .s-page .s-next{width:20px; background-position:-86px -535px; cursor:pointer;}
.s-jd-toolbar .s-page .s-more{width:20px; background:#000; display:none;}
.s-jd-toolbar .s-page a{width:22px; text-align:center; background-color:#000; background-position:-500px 0;}
.s-jd-toolbar .s-page a.s-current, .s-jd-toolbar .s-page a:hover{background-position:-49px -535px;}

/* 活动大促预留 */
.s-jd-toolbar .s-header{display:none;}
.s-jd-toolbar .s-header.s-show{display:block;}
/*
.s-jd-toolbar .s-header.s-show .s-mt{margin:0 0 0 -48px; width:85px; height:200px; position:relative; zoom:1; background:none;}
.s-jd-toolbar.s-small-screen .s-header.s-show .s-mt, .s-jd-toolbar .s-header.s-show.s-zoom .s-mt{margin:0; width:37px;}
*/
.s-jd-toolbar .s-header.s-show .s-mt{margin:0; padding:0; background:none;}
.s-jd-toolbar .s-header .s-mt:after, .s-jd-toolbar .s-header .s-mt after, .s-jd-toolbar .s-header .s-mt:before, .s-jd-toolbar .s-header .s-mt before{display:none!important;}
.s-jd-toolbar .s-header .s-list{top:0;}


.s-sale-title, .s-sale-con{display:none;}
.s-jd-toolbar .s-header.s-show .s-mt .s-sale-title, .s-jd-toolbar .s-header.s-show .s-sale-con{display:block;}


/* 我的订单 */
.s-jd-toolbar .s-order{}
.s-jd-toolbar .s-order{margin-top:25px;}
/*.s-jd-toolbar .s-icon-order:after, .s-jd-toolbar .s-icon-extra-share:before{display:none;}*/
/*#order1{position: absolute;top: 0px;right: 34px;background: #37383c;height: 37px;width: 100px;z-index: 100;color: #fff;text-align: center;line-height: 37px;display:none;}
*/
/* 我的优惠券 */
.s-jd-toolbar .s-coupon .s-list{top:0;}
.s-jd-toolbar .s-coupon .s-list .s-scrollbar{overflow-y: scroll;width: 227px;height: 100%;}
.s-jd-toolbar .s-coupon .s-list .s-t-text{text-align: center;font-family: 'Microsoft YaHei';font-size: 14px;color: #fff;font-weight: bold;padding: 10px 0 5px;line-height: 20px;}
.s-jd-toolbar .s-coupon .s-list .s-centre{display: block;margin-top: 15px;opacity: 1;background: url(http://img14.360buyimg.com/cms/jfs/t3451/302/741257582/22676/ffc0fe66/5811e0ecN27270296.png) 0 0 no-repeat;width: 210px;height: 80px;}
.s-jd-toolbar .s-coupon .s-list ul{margin-top:5px;}
.s-jd-toolbar .s-coupon .s-detail{height:0; position:relative; zoom:1; overflow:hidden; opacity:0; *display:none; background: #fff;border-radius: 2px;}
.s-jd-toolbar .s-coupon .s-detail.s-current{opacity:1; height:118px; margin-bottom:6px; *display:block;}
.s-jd-toolbar .s-coupon .s-detail .s-state{position: absolute;width: 210px;height: 100px;top: 0;right: 0;bottom: 0;left: 0;}
.s-jd-toolbar .s-coupon .s-detail .s-state .s-bgcolor{background: rgba(0, 0, 0, 0.7); -ms-background: #000; position: absolute;width: 210px;height: 100px;top: 0;right: 0;bottom: 0;left: 0;}
.s-jd-toolbar .s-coupon .s-detail .s-state .s-msg{color: #fff;font-size: 14px;font-family: 'Microsoft YaHei';position: absolute;width:190px;display: block;text-align: center;left: 0;right: 0;top: 50%;z-index: 1;padding: 0 10px;}
.s-jd-toolbar .s-coupon .s-detail .flag-icon{position: absolute;left: 0;top: 0;width: 52px;height: 52px;}
.s-jd-toolbar .s-coupon .js-curt .s-use-coupon .flag-icon, .s-jd-toolbar .s-coupon .js-use .s-use-coupon .flag-icon{background: url(http://img14.360buyimg.com/cms/jfs/t3451/302/741257582/22676/ffc0fe66/5811e0ecN27270296.png) -53px -80px no-repeat;}
.s-jd-toolbar .s-coupon .s-past-time.s-got-coupon .flag-icon{background: url(http://img14.360buyimg.com/cms/jfs/t3451/302/741257582/22676/ffc0fe66/5811e0ecN27270296.png) 0 -80px no-repeat;}

.s-jd-toolbar .s-coupon .s-product{padding: 5px 0;margin-top: -6px;background: #474747;display: none;}
.s-jd-toolbar .s-coupon .s-product ul{margin: 0; background: #474747;}
.s-jd-toolbar .s-coupon .s-product .s-morep{height: 26px;line-height: 26px;display: block;text-align: center;background: #5a5a5a;}
.s-jd-toolbar .s-coupon .s-product .s-morep span{color: #fff;font-size: 12px;font-family: 'Microsoft YaHei';}
.s-jd-toolbar .s-coupon .s-product .s-item{padding: 8px 0;}
.s-jd-toolbar .s-coupon .s-product .s-item + .s-item{border-top:1px solid #323232;}
.s-jd-toolbar .s-coupon .s-product .s-img{width: 60px;height: 60px;float: left;}
.s-jd-toolbar .s-coupon .s-product .s-pinfo{width: 140px;float: right;}
.s-jd-toolbar .s-coupon .s-product .s-pname{display: block; font-family: 'Microsoft YaHei';font-size:12px;color: #fff;text-overflow:ellipsis; overflow:hidden;display:-webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;max-height:37px;line-height: 18px;}
.s-jd-toolbar .s-coupon .s-product .s-price{color: #e4393c;font-family: 'Microsoft YaHei';padding-top:7px; }
.s-jd-toolbar .s-coupon .s-product .s-price span{font-size: 14px;font-weight: bold;}
.s-jd-toolbar .s-coupon .s-info{width: 140px; float: left;padding: 8px 8px 10px 20px;border-right: 2px dotted;cursor: pointer;}
.s-jd-toolbar .s-coupon .s-desc{color:#666; font-size:12px;font-family: 'Microsoft YaHei'; height: 18px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.s-jd-toolbar .s-coupon .s-num i{font-size:16px;font-family: 'Microsoft YaHei';line-height: 18px;display: inline-block;vertical-align: top;}
.s-jd-toolbar .s-coupon .s-num em{padding: 0 5px;font-size:32px; font-family: Arial, sans-serif; *line-height:normal;display: inline-block;vertical-align: top;height: 28px;line-height: 28px;}
.s-jd-toolbar .s-coupon .s-num span{font-size:12px;font-family: 'Microsoft YaHei';vertical-align: bottom;display: inline-block;}
.s-jd-toolbar .s-coupon .s-mian-text{color: #7ea7ce;font-size: 24px;font-family: 'Microsoft YaHei';display: none;line-height: 28px;}
.s-jd-toolbar .s-coupon .s-mian .s-mian-text{display: block;}
.s-jd-toolbar .s-coupon .s-mian .s-num, .s-jd-toolbar .s-coupon .s-mian .s-desc{display: none;}
.s-jd-toolbar .s-coupon .s-action{display: table;width: 40px;text-align: center;float: right;}
.s-jd-toolbar .s-coupon .s-action a{padding:0 10px; color:#fff;display: table-cell;vertical-align: middle;opacity: 1;height: 118px;}
.s-jd-toolbar .s-coupon .s-info .s-text{font-family: 'Microsoft YaHei'; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; height:18px;}
.s-jd-toolbar .s-coupon .s-info .s-time{font-size: 12px;font-family: 'Microsoft YaHei';white-space:nowrap; text-overflow:ellipsis; overflow:hidden;color: #999;line-height: 1.6}
.s-jd-toolbar .s-coupon .s-mt-sub{height:0; background:none; text-indent:0; line-height:36px; font-size:12px; font-family:'Microsoft YaHei'; color:#fff; overflow:hidden; *display:none;}
.s-jd-toolbar .s-coupon .s-mt-sub.s-current{height:36px; *display:block;font-weight: normal;}
.s-jd-toolbar .s-coupon .s-btn{position:absolute; right:5px; top:32px; width:80px; height:25px; background:#fff000; font-size:12px; color:#000; line-height:25px; text-align:center;}
.s-jd-toolbar .s-coupon .check-more-coupon{text-align:center;}
.s-jd-toolbar .s-coupon .check-more-coupon a{font-size:12px;color:#fff;font-family: 'Microsoft YaHei';display: inline-block;position: relative;padding-right:22px;}
.s-jd-toolbar .s-coupon .check-more-coupon a:after{content: '';position: absolute;top: 0;right: 0;display: block;width: 17px;height: 17px;background: url(http://img14.360buyimg.com/cms/jfs/t3451/302/741257582/22676/ffc0fe66/5811e0ecN27270296.png) -107px -80px no-repeat;}
.s-jd-toolbar .s-coupon .check-more-coupon .expand-more:after{background-position: -127px -80px;}
.s-jd-toolbar .s-coupon .check-more-coupon .s-expand:after{background-position: -146px -80px;}
.s-jd-toolbar .s-asset{background:#efefef; height:34px; padding:8px 0; border-radius:3px; margin-top:5px; overflow:hidden;}
.s-jd-toolbar .s-asset span{float:left; width:69px; border-right:solid 1px #dfdfdf; text-align:center; font-size:12px; font-weight:bold; color:#8f8f8f;}
.s-jd-toolbar .s-asset span.s-current{color:#ef5549;}
.s-jd-toolbar .s-asset span:last-child{border-right:0;}
.s-jd-toolbar .s-asset span em{display:block; color:#5b5b5b; font-weight:bold;}

.s-jd-toolbar .s-coupon .s-jing .s-action{background: #fa9899;}
.s-jd-toolbar .s-coupon .s-jing .s-num, .s-jd-toolbar .s-coupon .s-jing .s-text{color: #fa9899; }
.s-jd-toolbar .s-coupon .s-jing .s-info{border-color:#fa9899;}
.s-jd-toolbar .s-coupon .s-dong .s-action{background: #78d2d3;}
.s-jd-toolbar .s-coupon .s-dong .s-num, .s-jd-toolbar .s-coupon .s-dong .s-text{color: #78d2d3; }
.s-jd-toolbar .s-coupon .s-dong .s-info{border-color:#78d2d3;}
.s-jd-toolbar .s-coupon .s-mian .s-action{background: #7ea7ce;}
.s-jd-toolbar .s-coupon .s-mian .s-num, .s-jd-toolbar .s-coupon .s-mian .s-text{color: #7ea7ce; }
.s-jd-toolbar .s-coupon .s-mian .s-info{border-color:#7ea7ce;}
.s-jd-toolbar .s-coupon .s-jing:hover .s-action a{color: #b24d4f}
.s-jd-toolbar .s-coupon .s-dong:hover .s-action a{color: #197f81}
.s-jd-toolbar .s-coupon .s-mian:hover .s-action a{color: #3b6c9b}
/*#s1-user-info {absolute;top: 0px;right: 37px;background: #37383c;height: 37px;width: 100px;z-index: 100;color: #fff;text-align: center;line-height: 37px;display:none;}
*/

/* 我的购物车 */
.s-jd-toolbar .s-cart{}
.s-jd-toolbar .s-cart .s-list{padding-top:6px;}
.s-jd-toolbar .s-cart li{padding:0 6px; position:relative; zoom:1; height:0; opacity:0; overflow:hidden; *display:none; overflow:hidden;}
.s-jd-toolbar .s-cart li.s-current{height:100px; padding-bottom:7px; opacity:1; display:block;}
.s-jd-toolbar .s-cart .s-info{width:88px; position:absolute; left:115px; padding-right:10px;}
.s-jd-toolbar .s-cart .s-desc{display:block; height:32px; line-height:16px; color:#999; overflow:hidden;}
.s-jd-toolbar .s-cart .s-info span{display:block; padding-top:3px;}
.s-jd-toolbar .s-cart .s-info .s-sale-price{color:#a8a8a8; text-decoration:line-through; visibility:hidden;}
.s-jd-toolbar .s-cart .s-info .s-jd-price{font-size:12px; font-weight:bold; color:#fff;}
.s-jd-toolbar .s-cart .s-info .s-jd-price em{font-weight:bold;}
.s-jd-toolbar .s-cart .s-info .s-num{color:#999;}
.s-jd-toolbar .s-cart .s-info .s-num em{font-size:12px; font-weight:bold; color:#fff; margin-left:3px;}
.s-jd-toolbar .s-cart .s-info .s-btn{position:absolute; bottom:0; right:15px; width:36px; height:17px; line-height:17px; text-align:center; color:#fff; background-position:-74px -507px;}

.s-jd-toolbar .s-cart .s-addtocart{padding:6px 9px; visibility:hidden;}
.s-jd-toolbar .s-cart .s-addtocart.s-current{visibility:visible;}
.s-jd-toolbar .s-cart .s-total{font-size:14px; color:#999; text-align:center; padding-bottom:4px;}
.s-jd-toolbar .s-cart .s-total .s-num{color:#ef5549; margin:0 3px; font-weight:bold;}
.s-jd-toolbar .s-cart .s-total .s-price{font-size:12px; color:#ef5549; margin-left:4px;}
.s-jd-toolbar .s-cart .s-total .s-price em{font-size:16px; font-style:normal; font-weight:bold;}
.s-jd-toolbar .s-cart .s-addtocart .s-btn{display:block; width:194px; height:30px; line-height:30px; text-align:center; border-radius:3px; font-size:14px; font-weight:bold; color:#fff; background:#ef5549;}

/*京配入口*/
.s-jd-toolbar .s-delivery {
 display: none;
}

.s-jd-toolbar .s-delivery a {
 width: 90px;
 height: 79px;
 display: inline-block;
 background: url(573c1286N043f8b0d.png) center no-repeat;
 margin: 7px 0 7px -89px;
}

.s-jd-toolbar .s-delivery a img {
 display: none;
 float: right;
 margin-top: -52px;
}

.s-jd-toolbar .s-delivery a:hover {
 background: none;
 opacity: 1;
}

.s-jd-toolbar .s-delivery a:hover img {
 display: inline-block;
}

/* 我的关注 */
.s-jd-toolbar .s-attention{}
.s-jd-toolbar .s-tab{background:#fff; padding:14px 0; border-top-left-radius:3px; border-top-right-radius:3px; overflow:hidden;}
.s-jd-toolbar .s-tab a{float:left; width:69px; border-right:solid 1px #9f9f9f; text-align:center; font-size:12px; font-weight:bold; color:#9f9f9f;}
.s-jd-toolbar .s-tab a.s-current{color:#ef5549;}
.s-jd-toolbar .s-tab a:last-child{border-right:0;}
.s-jd-toolbar .s-attention .s-tab-con{display:none;}
.s-jd-toolbar .s-attention .s-tab-con.s-current{display:block;}

/* 关注的商品 */
.s-jd-toolbar .s-goods{margin-top:10px; overflow:hidden;}
.s-jd-toolbar .s-goods ul{/*height:504px;*/}
.s-jd-toolbar .s-goods li{height:0; opacity:0; position:relative; zoom:1; *display:none; overflow:hidden;}
.s-jd-toolbar .s-goods li.s-current{padding:0 0 10px 4px; height:77px; opacity:1; display:block;}
.s-jd-toolbar .s-goods .s-img{position:absolute; left:0; top:0;}
.s-jd-toolbar .s-goods .s-info{display:block; margin-left:90px;}
.s-jd-toolbar .s-goods .s-desc{display:block; height:32px; line-height:16px; color:#999; overflow:hidden; /*white-space:nowrap; text-overflow:ellipsis;*/}
.s-jd-toolbar .s-goods .s-info span{display:block; padding-top:3px;}
.s-jd-toolbar .s-goods .s-info .s-jd-price{font-size:12px; font-weight:bold; color:#fff;}
.s-jd-toolbar .s-goods .s-info .s-btn{width:70px; height:18px; line-height:18px; text-align:center; color:#fff; background-position:0 -423px; display:block;}

/* 关注的店铺 */
.s-jd-toolbar .s-mall{padding-top:10px; overflow:hidden;}
.s-jd-toolbar .s-mall ul{/*height:426px;*/}
.s-jd-toolbar .s-mall li{background:#fff; color:#000; font-size:12px; height:0; opacity:0; overflow:hidden; *display:none;}
.s-jd-toolbar .s-mall li.s-current{height:120px; margin-bottom:15px; opacity:1; *display:block;}
.s-jd-toolbar .s-mall li a{display:block; padding-top:9px; text-align:center; color:#000;}
.s-jd-toolbar .s-mall li a img{}
.s-jd-toolbar .s-mall .s-desc{display:block; font-size:12px; font-family:"microsoft yahei"}
.s-jd-toolbar .s-mall .s-btn{display:block; width:70px; height:18px; text-align:center; background-position:0 -423px; color:#fff; margin:0 auto; margin-top:6px;}

/* 关注的活动 */
.s-jd-toolbar .s-sale{padding-top:10px; overflow:hidden;}
.s-jd-toolbar .s-sale ul{/*height:480px;*/}
.s-jd-toolbar .s-sale li{font-size:12px; height:0; position:relative; zoom:1; opacity:0; margin-bottom:0; *display:none; overflow:hidden;}
.s-jd-toolbar .s-sale li.s-current{height:40px; padding:20px 0; opacity:1; *display:block;}
.s-jd-toolbar .s-sale .s-desc{display:block; color:#fff; font-weight:bold; height:16px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.s-jd-toolbar .s-sale .s-time{display:block; color:#999; margin-top:5px;}
.s-jd-toolbar .s-sale .s-btn{position:absolute; right:0; bottom:22px; width:70px; height:18px; text-align:center; color:#fff; display:none;}
.s-jd-toolbar .s-sale li.s-current.s-go .s-btn-go{background-position:0 -451px; display:block;}
.s-jd-toolbar .s-sale li.s-current.s-wait .s-btn-wait{background-position:0 -479px; cursor:default; display:block;}
.s-jd-toolbar .s-sale li.s-current.s-over .s-btn-over{background-position:0 -507px; cursor:default; display:block;}

/* 我的JIMI */
.s-jd-toolbar .s-jimi{}
.s-jd-toolbar .s-jimi iframe{position:absolute; left:0; top:0; height:95%;}

/* 默认提示 */
.s-jd-toolbar .s-tips{padding:10px; background:#fffdee; text-align:center; color:#666; display:none;}
.s-jd-toolbar .s-tips.s-current{display:block;}
.s-jd-toolbar .s-tips span{font-size:16px; font-weight:bold; color:#ff6600; display:block;}
.s-jd-toolbar .s-tips a{color:#005ea7;}

/* 更多 */
.s-jd-toolbar .s-icon-more{position:absolute; left:0; bottom:0; z-index:1; width:37px; height:37px; color:#777; fos-icon-closent-size:12px; text-align:center; line-height:24px; background-color:#1f1f1f; background-position:-155px -10px; cursor:pointer; display:none;}

/* 主功能图标列表 */
.s-jd-toolbar .s-icon-list .s-mt{height:37px; margin-top:7px; padding-bottom:7px; text-align:center; display:block; color:#fff; font-size:12px; line-height:normal; cursor:pointer;}
.s-jd-toolbar .s-icon-list .s-order .s-mt{margin-top:0;}
.s-jd-toolbar .s-icon-list .s-mt em{height:37px; display:block;}

 @-webkit-keyframes current {from { -webkit-box-shadow: 0 0 0 rgba(255,255,255,0) inset; }50% { -webkit-box-shadow: 0 0 15px #680a00 inset; }to {  -webkit-box-shadow: 0 0 0 rgba(255,255,255,0)  inset; }}
 @keyframes current {from { box-shadow: 0 0 0 rgba(255,255,255,0)  inset; }50% { box-shadow: 0 0 15px #680a00 inset; }to { box-shadow: 0 0 0 rgba(255,255,255,0) inset; }}

.s-jd-toolbar .s-icon-list .s-current:not(.s-cart) .s-mt em, .s-jd-toolbar .s-icon-list .s-current.s-cart .s-mt{-webkit-animation-name: current; -webkit-animation-duration: 1s; animation-name: current; animation-duration: 1s; -webkit-animation-duration: 2s;-webkit-animation-iteration-count: infinite; animation-duration: 2s;animation-iteration-count: infinite;}

.s-jd-toolbar .s-order .s-mt em{background-position:-37px -97px;}
.s-jd-toolbar .s-records .s-mt em{background-position:-37px -281px;}
.s-jd-toolbar .s-coupon .s-mt em{background-position:-37px -189px;}
.s-jd-toolbar .s-cart .s-mt em{background-position:-37px -235px;}
.s-jd-toolbar .s-attention .s-mt em{background-position:-37px -143px;}
.s-jd-toolbar .s-jimi .s-mt em{background-position:-37px -327px;}

/* 侧边栏咚咚 图标背景 */
.s-jd-toolbar .s-im{display:none;}
.s-jd-toolbar .s-im .s-mt em{background-position:-74px -327px;}
.s-jd-toolbar .s-im.s-online .s-mt em{background-position:-111px -327px;}
.s-jd-toolbar .s-im.s-online .s-mt.s-self em{background-position:-148px -327px;}

/* 购物车图标及文字 */
.s-jd-toolbar .s-icon-list .s-cart .s-mt{height:auto; background:#484c4f;}
.s-jd-toolbar .s-cart .s-mt .s-cart-text{display:block; font-size:14px; color:#ddd; padding:0 5px 5px;}
.s-jd-toolbar .s-cart .s-mt .s-cart-num{display:block; width:19px; height:18px; color:#fff; line-height:18px; text-indent:-2px; font-weight:bold; margin:0 auto; background:url(http://img10.360buyimg.com/cms/jfs/t1612/156/46309846/1166/6bfc676e/555193bfN3d942f32.png);}

/* 主功能图标hover */
.s-jd-toolbar .s-icon-list .s-current .s-mt em, .s-jd-toolbar .s-icon-list .s-mt:hover em{background-color:#ef5549;}
.s-jd-toolbar .s-order.s-current .s-mt em, .s-jd-toolbar .s-order .s-mt:hover em{background-position:0 -97px;}
.s-jd-toolbar .s-records.s-current  .s-mt em, .s-jd-toolbar .s-records .s-mt:hover em{background-position:0 -281px;}
.s-jd-toolbar .s-coupon.s-current  .s-mt em, .s-jd-toolbar .s-coupon .s-mt:hover em{background-position:0 -189px;}
.s-jd-toolbar .s-cart.s-current  .s-mt em, .s-jd-toolbar .s-cart .s-mt:hover em{background-position:0 -235px;}
.s-jd-toolbar .s-attention.s-current  .s-mt em, .s-jd-toolbar .s-attention .s-mt:hover em{background-position:0 -143px;}
.s-jd-toolbar .s-jimi.s-current  .s-mt em, .s-jd-toolbar .s-jimi .s-mt:hover em{background-position:0 -327px;}

/* 购物车主功能图标hover */
.s-jd-toolbar .s-cart.s-current .s-mt em, .s-jd-toolbar .s-cart .s-mt:hover em{background-color:transparent;}
.s-jd-toolbar .s-cart.s-current .s-mt, .s-jd-toolbar .s-cart .s-mt:hover{background-color:#ef5549;}
.s-jd-toolbar .s-cart.s-current .s-mt .s-cart-text, .s-jd-toolbar .s-cart .s-mt:hover .s-cart-text{color:#fff;}
.s-jd-toolbar .s-cart.s-current .s-mt .s-cart-num, .s-jd-toolbar .s-cart .s-mt:hover .s-cart-num{background:url(http://img12.360buyimg.com/cms/jfs/t1090/178/839163324/1102/db997262/55519c3eN8f1e1635.png); color:#fff;}

/* 附属功能图标列表 */
.s-jd-toolbar .s-icon-extra{position:absolute; bottom:36px; width:37px; height:111px; background:#37383c;}
.s-jd-toolbar .s-icon-extra.s-current{height:148px;}
.s-jd-toolbar .s-icon-extra .s-mt{display:block; color:#fff; font-size:12px; cursor:pointer;margin-bottom: 18px;}
.s-jd-toolbar .s-icon-extra .s-mt em{height:37px; display:block; background-color:#37383c;}

.s-jd-toolbar .s-extra-favorite, .s-jd-toolbar .s-extra-totop, .s-jd-toolbar .s-extra-3d{display:none;}
.s-jd-toolbar .s-extra-attention .s-mt em{background-position:-74px -419px;}
.s-jd-toolbar .s-extra-favorite .s-mt em{background-position:-111px -465px;}
.s-jd-toolbar .s-extra-share .s-mt em{background-position:-112px -463px;}
.s-jd-toolbar .s-extra-totop .s-mt em{background-position:-74px -465px;}
.s-jd-toolbar .s-extra-3d .s-mt em{background-position:-222px -460px;}

/* 附属功能图标hover */
.s-jd-toolbar .s-icon-extra .s-mt:hover em{background-color:#ef5549;}
.s-jd-toolbar .s-extra-attention .s-mt:hover em{background-position:-148px -419px;}
.s-jd-toolbar .s-extra-favorite .s-mt:hover em{background-position:-111px -465px;}
.s-jd-toolbar .s-extra-share .s-mt:hover em{background-position:-186px -463px;}
.s-jd-toolbar .s-extra-totop .s-mt:hover em{background-position:-148px -465px;}
.s-jd-toolbar .s-extra-3d .s-mt:hover em{background-position:-222px -414px;}



/* 图标hover提示 */
.s-jd-toolbar .s-mt{position:relative;}
.s-jd-toolbar .s-mt::after, .s-jd-toolbar .s-mt after{position:absolute; right:31px; top:9px; width:6px; display:none; height:20px; background-position:0 -59px; content:'';}
/*.s-jd-toolbar .s-mt::before, .s-jd-toolbar .s-mt before{position:absolute; right:37px; top:0; height:37px; line-height:37px; background:#484c4f; color:#fff; width:0; overflow:hidden; text-align:center; content:''; z-index:1;}*/
.s-jd-toolbar .s-mt:hover::after, .s-jd-toolbar .s-mt:hover after{display:block;}
.s-jd-toolbar .s-mt:hover::before, .s-jd-toolbar .s-mt:hover before{width:78px;}
*//*.s-jd-toolbar .s-icon-order::before{content:'\6211\7684\8ba2\5355'}
/*.s-jd-toolbar .s-icon-attention::before{content:'\6211\7684\5173\6ce8'}
.s-jd-toolbar .s-icon-coupon::before{content: attr(data-before)}
.s-jd-toolbar .s-icon-cart::before{content:'\6211\7684\8d2d\7269\8f66'}
.s-jd-toolbar .s-icon-records::before{content:'\6211\7684\8db3\8ff9'}
.s-jd-toolbar .s-icon-jimi::before{content:'\6211\7684\004a\0049\004d\0049'}*/

/* 侧边栏咚咚 图标hover提示 */
/*.s-jd-toolbar .s-icon-im::before{content:'\7559\8a00\5356\5bb6'}
.s-jd-toolbar .s-online .s-icon-im::before{content:'\8054\7cfb\5356\5bb6'}
.s-jd-toolbar .s-icon-im.s-self::before{content:'\7559\8a00\4f9b\5e94\5546'}
.s-jd-toolbar .s-online .s-icon-im.s-self::before{content:'\8054\7cfb\4f9b\5e94\5546'}

.s-jd-toolbar .s-icon-extra .s-mt::after{top:9px;}
.s-jd-toolbar .s-icon-extra .s-mt::before{top:0;}
.s-jd-toolbar .s-icon-extra .s-icon-extra-attention::before{content:'\52a0\5173\6ce8'}
.s-jd-toolbar .s-icon-extra .s-icon-extra-favorite::before{content:'\6536\85cf'}
.s-jd-toolbar .s-icon-extra .s-icon-extra-totop::before{content:'\8fd4\56de\9876\90e8'}
.s-jd-toolbar .s-icon-extra .s-icon-extra-3d::before{content:'\0033\0064\5e97\94fa'}*/

/* 去除购物车图标hover提示 */
.s-jd-toolbar .s-cart .s-mt:hover::after, .s-jd-toolbar .s-cart .s-mt:hover after{display:none;}
.s-jd-toolbar .s-cart .s-mt:hover::before, .s-jd-toolbar .s-cart .s-mt:hover before{display:none;}

/* 分享 */
.s-jd-toolbar .s-extra-share{}
.s-jd-toolbar .s-icon-extra-share:after, .s-jd-toolbar .s-icon-extra-share:before{display:none;}
.s-jd-toolbar .s-share-area{width:0; height:205px; background:#484c4f; overflow:hidden; position:absolute; right:100%; bottom:0;text-align: center;}
.s-jd-toolbar .s-share-area .qrPic { width: 161px; height: 161px; margin: 7px auto; }
.s-jd-toolbar .s-share-area .qrDesc { font-size: 14px; color: #fff; padding-top: 2px; overflow: hidden; white-space: nowrap; }
.s-jd-toolbar .s-share-area .qrPic img, .s-jd-toolbar .s-share-area .qrDesc { opacity: 0; filter: alpha(opacity=0); -webkit-transition: all 0.25s ease-in 0s; -moz-transition: all 0.25s ease-in 0s; -ms-transition: all 0.25s ease-in 0s; -o-transition: all 0.25s ease-in 0s; transition: all 0.25s linear 0s; }
.s-jd-toolbar .s-extra-share:hover .s-share-area { width: 175px; }
.s-jd-toolbar .s-extra-share:hover .s-share-area .qrPic img, .s-jd-toolbar .s-extra-share:hover .s-share-area .qrDesc { opacity: 1; filter: alpha(opacity=100); }

#attention-tags{width:470px; background:#fffdee; border:1px solid #edd28b; padding:10px; margin:0 10px;}
#attention-tags h4{float:left;}
#attention-tags .mt em{color:#999; font:normal 12px simsun;}
#attention-tags .mt .extra{float:right;}
#attention-tags .att-tag-btn{overflow:hidden; *zoom:1;}
#select-hold{position:relative; display:block; width:29px;height:20px;line-height:20px;padding-left:18px;background:url(http://misc.360buyimg.com/201007/skin/df/i/search2012052301.jpg) 0px -316px no-repeat;cursor:pointer;color:#333;}
#select-hold b{position:absolute;left:6px;top:8px;overflow:hidden;width:7px;height:5px; background-image:url(http://misc.360buyimg.com/201007/skin/df/i/i2012052801.png); background-repeat:no-repeat;}
#select-hold.close b{background-position:-48px -20px;}
#select-hold.open b{background-position:-48px -26px;}

.att-tag-list{overflow:hidden; padding:10px 0; *zoom:1;}
.att-tips{color:#c00; line-height:30px;}
.att-tag-btn{padding-left:160px;}
.att-tag-btn a{float:left; margin-right: 10px; width: 57px; height:30px; line-height: 30px; background: url(http://misc.360buyimg.com/product/skin/2012/i/yb_btn.png) 0 0 no-repeat; font-size: 14px; text-align: center;}
.att-tag-btn a:hover{text-decoration:none;}
.att-tag-btn .att-btn-cancal{background-position:-67px 0;}
.att-tag-list li{float:left; padding:5px 0;}
.att-tag-list li a{display:block; height:20px; padding:3px 10px 3px 10px; border:1px solid #eed289; margin-right:10px;  overflow:hidden; *zoom:1;}
.att-tag-list li a:hover,.att-tag-list .current{border:2px solid #cc0000; padding:2px 9px 2px 9px;}
.att-tag-list input,.att-tag-list label{float:left; cursor:pointer;}
.att-tag-list input[type="checkbox"]{margin-left:-2px;}

.att-tag-list .att-tag-new a,
.att-tag-list .att-tag-new a:hover{padding-left:5px; border:1px solid;}
.att-tag-new input{width:100px; height:18px; line-height:18px; padding:4px 6px;  border:1px solid #EED289}
.att-tag-new span{display:inline-block; height:20px; line-height:20px; padding:3px 10px 3px 10px; color:#005AA0; cursor:pointer; *zoom:1;}
.att-tag-new span:hover{text-decoration:underline;}

.sale-btn-coll{display:block; width: 68px; height: 30px;line-height: 300px; overflow:hidden; background:url(http://misc.360buyimg.com/product/skin/2012/i/att-btns.png) 0 0 no-repeat;}
.btn-coll-act{display:block; width: 90px; height: 30px;line-height: 300px; overflow:hidden; background:url(http://misc.360buyimg.com/product/skin/2012/i/att-btns.png) -70px 0 no-repeat;}

.att-content{overflow:hidden; *zoom:1;}
#att-mod-success h2{color:#090;}
#att-mod-again h2{color:#fe6700;}
#att-mod-success .att-tag-btn,
#att-mod-again .att-tag-btn{padding-left:100px;}
#att-mod-success .att-img,
#att-mod-again .att-img{margin:0 10px;}
.att-content p{margin:5px 0;}
.att-content em{color:#999;}
.att-content a{color:#005fa6;}

#att-shop-btn{overflow:hidden; padding:10px 0 0 180px; *zoom:1;}

.tips{width:490px; padding:10px; position:relative; }
.tips p{padding-left:70px;}
.tips em{color:#999;}
.tips p a{color:#005EA7;}
.tips h2{height:40px; padding-left:70px; background:url(http://misc.360buyimg.com/201007/skin/df/i/icon_correct.jpg) no-repeat 10px 0px; line-height:40px; font-size:14px; color:#090;}
