@CHARSET "UTF-8";
.web-map{
	padding-top:0;
}
/*会员中心*/
.side_nav{
	float: left;
	width: 124px;
}
.side_nav hr{
	border: none;
	border-top: 2px solid #888888;
}
.side_nav dd{
	line-height: 30px;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
}
.side_nav dd a{
	padding-left: 30px;
	color: #333333;
	font-size: 14px;
}
.right_box{float: right;width: 1036px;}
.right_box .main_box{background: #FFF;padding: 20px;clear: both;zoom: 1;height: auto!important;min-height: 480px;}
.dot{display: inline-block;border: 1px solid #99958f;vertical-align: middle;margin: 0 3px;_overflow: hidden;height:1px;width:1px;background-color:#000;}

.triangle{position: absolute;right: 20px;top: 11px;*top:8px;border-color: @main_color @main_color @main_color #fff;border-style: solid;border-width: 4px 0px 4px 4px;height: 0;width: 0;overflow: hidden;display: none;}
.clearance10{display:inline-block;width:10px;height:1px;}

.user_info_box{padding:12px;}
.user_info_box .u_name{width:78px;font-size:14px;}



.nav_item_title a{
	font-size: 16px;
	font-weight: bold;
	padding-left: 30px;
	color: #333333;
}
.nav_item .s_item{position: relative;display: block;padding: 5px 35px 5px 35px;color: #666;}

.nav_item a.current{color:@main_color;font-weight: bold;}
.nav_item .s_item.current .triangle{border-left-color: #fff;display: block;}


.nav_item .s_item:hover a{color:@main_color;}

/*uc_account*/
.content .title{border-bottom:1px solid #DCDCDC}
.content .title span{color:@main_color; display:block;padding-bottom: 5px;}
.content_item{border:1px solid #DCDCDC;}
.content_item .upimg_box{position:relative;text-align:center;padding: 55px 40px;float: left;color: #333;background: #fcfcfc;width: 195px;overflow: hidden; }

.content_item .upimg_box h3{padding-bottom: 10px;color: #333;font-size: 12px;}
.content_item .upimg_box .avatar_box{width:180px;height:180px;overflow:hidden;}
.content_item .upimg_box .avatar_box img{width:180px;}
.content_item .up_btn{margin:15px auto 0;}
.content_item .img_tip{margin-top: 15px;text-align: center;font-size: 12px;color: #999;line-height: 18px;}
.content_item .info_box{float: left;width: 510px;padding-top: 5px;border-left: 1px solid #eae9e9;}
.content_item .content_box{float: left;width: 650px;padding-top: 14px;}

.field_group{padding: 3px 10px 3px 10px;margin: 0 auto 8px;margin-bottom: 17px;}
.field_group .f_label{float:left;margin-right:10px;width:110px;text-align:right;font-size: 16px;display:block;line-height:38px;height:38px;}
.field_group .f_text{float:left;}
.field_group .f_text input{width: 250px;outline: 2px;font-size: 14px;padding: 9px;}

.field_select{z-index:50;}
.field_select dl{border: 1px solid #ccc;font-size:16px;min-width: 150px;_width:150px;}
.field_select dd{width:150px; overflow-y:auto;}
.field_select dl dt{position: relative;padding: 7px 35px 7px 10px;}
.field_select dl dt i{position: absolute;top: 13px;right:12px;width:0;height:0;overflow: hidden;border-left: 5px solid transparent;border-right: 5px solid transparent;border-top: 5px solid transparent;border-top-color: #686868;
_border-left-color:tomato; /*For IE6-*/
	_border-right-color:tomato; /*For IE6-*/
	_filter:chroma(color=tomato);/*For IE6-*/
}
.field_select .dropdown{border:1px solid @main_color;}
.field_select .dropdown dt i{border-bottom: 5px solid transparent;border-bottom-color: #686868;border-top: 0;}
.field_select dl dd {border: 1px solid @main_color;background: #fff;color: #000;font-size: 13px;z-index: 100;box-shadow: 2px 2px 10px #999;-moz-box-shadow: 2px 2px 10px #999;-webkit-box-shadow: 2px 2px 10px #999;}
.field_select dl dd a{padding: 5px 10px;font-size: 14px;}
.field_select dl dd a:hover{background-color: @main_color;color: #fff;}
.field_select dl dd a.current{background-color: @main_color;color: #fff;}

.sms_verify_box{float:left;}
.sms_verify_box input.ph_verify{width:100px;display: inline-block;outline: 2px;font-size: 16px;padding: 9px;margin-right:10px;}
.ph_img_verify{display: none;}
.ph_sms_verify{visibility: hidden;}

.img_verify_box{float:left;width:320px;}
.img_verify_box .img_verify{width:100px;display: inline-block;outline: 2px;font-size: 16px;padding: 9px;margin-right:10px;}
.img_verify_box img.verify {padding: 7px 0px;margin-right: 5px;cursor: pointer;width: 50px;height: 22px;}
.img_verify_box a.refresh_verify{display:inline-block;height: 36px;line-height: 36px;color:@main_color;cursor:pointer;}

.upimg_box .loading{position: absolute;top: 86px;left: 40px;width: 192px;display:none;}

/*用户个人首页通用*/
.uc_info_box .info_nav{padding:10px 0 10px 5px;border-bottom:1px solid #ddd;}
.uc_info_box .info_nav ul li{float:left;margin-right:5px;}
.uc_info_box .info_nav ul li.cur{background-color: @main_color;}
.uc_info_box .info_nav ul li a{color:@main_color;display:inline-block;_display:inline;padding:5px 10px;}
.uc_info_box .info_nav ul li.cur a{color:#fff;}

.uc_info_box .info_box h3{font-size:15px;}
.uc_info_box .info_box .bg_box{margin: 0 0 10px;padding: 8px 16px;font-size: 12px;border: 1px solid #F6E0AF;background: #ffffeb;overflow: hidden;zoom: 1;}
.uc_info_box .info_box .growth_content{font-size: 12px;color: #663309;}
.info_items ul li{display:block;margin-bottom:5px;height: 25px;line-height: 25px;}
.info_items ul li label,.info_items ul li span{float:left;}
.info_items ul li .level_bg{margin-top:4px;}

.main_color{color:@main_color;font-weight:bold;font-style: normal;}
.lv_name{color:#666;font-style: normal;}
.info_table{margin: 0 0 10px;font-size: 12px;background: #FFF;overflow: hidden;zoom: 1;}
.info_table table{width: 100%;text-align: center;}
.info_table table th {
	height: 36px;
	background-color: #f7f7f7;
	font-size: 14px;
	text-align: center;
	color:#808080;
}
tr.alt{
	height: auto!important;
	min-height: 76px;
	border-bottom: 1px solid #ddd;
}
tr.alt:hover{
	background-color: #fffbf0;
}
.info_table table td{padding: 12px;}
.info_table .detail {text-align: left;text-align: left;border-left: 1px dotted #E5E5E5;border-right: 1px dotted #E5E5E5;}
.cnt_tf_left table td{text-align:left;}


/*兑换页面宽度自定义*/
.field_select.w430 dl{width:430px;}
.field_select.w430 dl dd{width:430px;}
.field_text{outline: 2px;font-size: 16px;padding: 7px;}

/*通用表格样式 - 会员中心我的分销 参考*/
.info_table_2 table{
	border-collapse: collapse;
	border-spacing: 0;
}
.info_table_2 .top_title_box{
	background-color: #f7f7f7;
	border: 1px solid #efefef;
}
.info_table_2 .top_title_box th{
	background-color: #ebebeb;
	font-weight: normal;
	padding: 7px 5px 6px;
	color: #999;
	border-bottom: 1px solid #e1e1e1;
}

.info_table_2 .alt td{
	border-bottom: 1px solid #e1e1e1;
	padding: 10px 5px 9px;

}
.info_table_2 .alt{
	background-color: #fff;
	border: 1px solid #fff;
}
.info_table_2 .td_hover_box{
	background-color: #f7f7f7;
	border: 1px solid #efefef;
}

.info_table_2 .item_group{
	position: relative;
	padding-left: 90px;
	height: auto!important;
	min-height: 80px;
}
.item_group .attr li{
	margin-bottom: 6px;
}
.info_table_2 .item_group .img_link{
	border: 1px solid #c3c3c3;
	background-color: #FFF;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
}

/*颜色*/
.color-grey {
	color: #999!important;
}
.color-blue{
	color: #0859ac;
}

.share_fx{
	font: 12px/1.5 tahoma,"microsoft yahei","\5FAE\8F6F\96C5\9ED1";
}

/*对齐方向*/
.t-left{text-align:left;}
.t-right{text-align:right;}
.t-center{text-align:center;}

.side_nav f_l .nav_item:first-child{border:none;}
.side_nav f_l .nav_item{
	border-top: 1px solid @border_color;padding:5px 0;
}
