@CHARSET "UTF-8";
.label_txt{display: inline;width: 125px;text-align: right;line-height: inherit;}
.api_box{margin: -7px 0;width: 438px;padding: 0 20px;position: relative;display: inline;overflow: hidden;}
.item_link_btn{text-decoration: underline;color: #2e5672;}
.api_box li{height: 28px;line-height: 28px;color: #8f8f8f;}
.api_item span i{display: inline-block;padding-right: 6px;font-size: 20px;}